* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card */
.card {
  display: flex;
  width: 14rem;
  height: 14rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* Task Card */
.reward {
  display: flex;
  justify-content: flex-end;
}

.reward-points {
  display: inline-block;
  padding: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.task-title {
  padding: 1.25rem 0.75rem;
  font-size: small;
  font-weight: 600;
}

/* Detail Task Card */
.detail-task-card {
  color: #555555;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 1rem;
}

.detail-task-title {
  text-align: center;
  line-height: 1.5rem;
}

.task-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 0 0.5rem;
}

.task-option-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  
  background: none;
  border: none;
  padding: 0;
}

.task-option-btn.cross-option {
  font-weight: 200;
}

.task-option-btn.tick-option {
  color: #FF8933;
}

.dash-circle-tick {
  text-align: center;
  position: relative;
}

.tick {
  position: absolute;
  top: 35%;
  left: 25%;
}

.tick.tick-complete {
  left: 35%;
}

.cross{
  margin-top: 0.85rem;
}

/* Complete Card */
.complete-card-container {
  text-align: center;
  margin-bottom: 1.25rem;
}

.text-emphasis {
  color: #FF8933;
  font-weight: 600;
}

.text-description {
  margin-top: 0.25rem;
  font-size: 0.85rem;
}

/* Flip Task Card */
.remove-fade-enter {
  opacity: 1;
}

.remove-fade-enter-done {
  opacity: 0;
}

.remove-fade-enter-active {
  opacity: 0;
  transition: opacity 1000ms; /* delay fade in card removal */
}

/* Task Grid */
.task-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

/* Page Navigator */

.page-navigator-container {
  margin-top: 3rem;
  margin-left: 2rem;
}

.nav-btn {
  border: none;
  border-bottom: 3px solid #cbd5e0;
  padding-bottom: 0.25rem;
  background: none;
  font-size: medium;
  font-family: inherit;
  color: #2d3748;
}

.navbar .nav-btn:not(:first-child) {
  margin-left: 1rem;
}

.nav-btn.selected {
  border-bottom: 3px solid #2d3748;
  font-weight: 600;
}

/* History Page */

.no-task-found-bg {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
  height: 35rem;
  margin: auto;
  background-color: #FFE8DB;
  margin-top: 2rem;
}

.no-task-found-description {
  position: absolute;
  font-size: 1.5rem;
  top: 45%;
  left: 25%;
}

.no-task-found-bg img {
  margin-right: 3rem;
}

.date-task-grid:not(:first-child) {
  margin-top: 2.5rem;
}

/* Today Page */

.page {
  margin-top: 2.5rem;
  padding: 0 1rem;
}

/* Date Task Grid */

.date-task-grid .task-grid {
  margin-top: 1.75rem;
}

.date-description {
  color: #2d3748;
}

.today-badge {
  margin-right: 0.5rem;
  padding: 0.4rem;
  color: white;
  background-color: #F95D66;
}
